body{
    background-color: black;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.header{
    grid-area: header;
    text-align: center;
    border-bottom: 3px solid white;
    color: white;
}

.footer{
    grid-area: footer;
    text-align: center;
    border-top: 3px solid white;
    color: white;
}

.grid-sidebar{
    grid-area: sidebar;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    text-align: center;
    border-right: 3px solid white;
    border-collapse: collapse;
    padding: 5%;
}

.grid-sidebar ul{
    list-style-type: circle;
    margin-left: auto;
    margin: 2%;
    padding: 2%;
    list-style-position: inside;
    border: 3px solid white;
    text-align: left;
}


.grid-main{
    grid-area: main;
    color: white;
    border-left: 3px solid white;
}

.grid-main p{
    text-align: center;
    margin-top: 5%;
}

.link{
    color: white;
}

.link:hover{
    color: blueviolet;
}

.grid-container{
    display: grid;
    border-top: 2px solid white;
    padding: 2%;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar sidebar main main"
    "footer footer footer footer";
    column-gap: 0px;
    row-gap: 10px;

}